<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-text pull-left">
                <a href="website-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">Websites</a>
            </div>
            <div class="navbar-text pull-right">
                <a href="website-new.view.client.html"><span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="website-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">New Website</a>
            </div>
            <div class="navbar-text pull-right">
                <a href="website-list.view.client.html"><span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid" >
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li class="list-group-item">
                <!--Header Row-->
                <b>Name</b>
            </li>
            <li class="list-group-item">
                <a href="../views/page/page-list.view.client.html">Blogging App</a>
                <a href="website-edit.view.client.html">
                    <span class = "glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../views/page/page-list.view.client.html">Address Book App</a>
                <a href="website-edit.view.client.html">
                    <span class = "glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../views/page/page-list.view.client.html">Note Book App</a>
                <a href="website-edit.view.client.html">
                    <span class = "glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../views/page/page-list.view.client.html">Text Book App</a>
                <a href="website-edit.view.client.html">
                    <span class = "glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../views/page/page-list.view.client.html">Face Book App</a>
                <a href="website-edit.view.client.html">
                    <span class = "glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../views/page/page-list.view.client.html">Script Testing App</a>
                <a href="website-edit.view.client.html">
                    <span class = "glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../views/page/page-list.view.client.html">Blogger</a>
                <a href="website-edit.view.client.html">
                    <span class = "glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">

        <label for="name">Name</label>
        <input id="name" class="form-control" placeholder="Website Name">
        <label for="description">Description</label>
        <textarea id="description"
                  class="form-control"
                  rows="6"
                  placeholder="Description"></textarea>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="../views/user/profile.view.client.html"><span class="glyphicon glyphicon-user"> </span></a>
        </div>
    </div>
</nav>