input, textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-x: hidden;
    height: 100%;
}

.vsk-para {
    margin-top: 20px;
}

.top-margin {
    margin-top: 10px;
}
.row-margin {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

.vsk-ngclick-a {
    cursor: pointer;
}

.vsk-glyphicon-pad{
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    /*Overriding the default underline*/
    text-decoration: none;
    /*color: darkred;*/
}
.vsk-col {
    padding-right: 20px;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: gray;
}

.vsk-page-navbar {
    background-color: whitesmoke;
}

.vsk-page-navbar .navbar-brand {
    color: black;
}

.vsk-page-navbar .navbar-text {
    color: black;
}

.navbar-default {
    background-color: #337ab7;
    /*border-bottom-color: #337ab7;*/
    /*background-color: #ce1139;*/
}

/*a {
    color: #ce1139;
}*/

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.vsk-glyphicon-page {
    color: #337ab7;
}

.vsk-glyphicon{
    color: black;
}

.vsk-toolbar {
    position: absolute;
    z-index: 1;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
}

.vsk-left-pane {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    overflow: auto;
    /*background-color: #363b3e;*/
}
.vsk-right-pane {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #555555;
}

.panel-heading a {
    color: white;
}

.navbar a {
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

.widget {
    padding-top: 5px;
}
.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-text.pull-left {
    margin-left: 0px;
}

/*.list-group-item a {
    color: white;
}*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: rgba(0,0,0,0.2);
}

.panel-default>.panel-heading {
    color: white;
    background-color: #363b3e;
    border-color: #363b3e;
}

.panel-default {
    border-color: #363b3e;
    background-color: #363b3e;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .navbar-nav {
        float: left;
        margin: 0;
        margin-top: 6px;
    }
}

.panel>.list-group .list-group-item {
    background-color: #4B5155;
    margin-top: 10px;
    border-width: 0px 0;
}

.list-group {
    /*background-color: #363b3e;*/
}

.list-group-item {
    /*border: none;*/
}
.panel>.list-group .list-group-item.active {
    background-color: #337ab7;
}

.navbar-default.navbar-fixed-bottom {
    /*border-top-color: #000;*/
}