<div class="container-fluid">
    <h1>Register</h1>

    <label for="username">Username</label>
    <input id="username"
           class="form-control"
           placeholder="john123"/>

    <label for="password">Password</label>
    <input id="password"
           class="form-control"
           type="password"
           placeholder="req4321"/>

    <label for="password2">Verify Password</label>
    <input id="password2"
           class="form-control"
           type="password"
           placeholder="req4321"/>

    <a href="profile.view.client.html" class="btn btn-primary btn-block">Register</a>
    <a href="login.view.client.html" class="btn btn-danger btn-block">Cancel</a>
</div>