<div class="container-fluid" ng-controller="WidgetEditController">

    <label for="name">Name</label>
    <input ng-model="model.widget.name"
           id="name"
           class="form-control"
           placeholder="Name"/>

    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           placeholder="Text"
           class="form-control"/>

    <label for="rows">Rows</label>
    <input id="rows"
           ng-model="model.widget.rows"
           class="form-control"
           type="number"/>

    <label for="placeholder">Placeholder</label>
    <input id="placeholder"
           ng-model="model.widget.placeholder"
           class="form-control"/>

    <label for="formatted">Formatted</label>
    <input id="formatted" ng-model="model.widget.formatted" type="checkbox"/>

    <a ng-click="model.deleteWidget(model.widget)" class="btn btn-danger btn-block top-margin">Delete</a>
</div>
